.registerpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
      .txt{
        font-size: 2rem;
        color: #fff;
        background: url(https://i.giphy.com/fUQ4rhUZJYiQsas6WD.webp);
        font-weight: 900;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 5px;
        background-size: contain;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
        .gif1{
        position: absolute;
        left: 87%;
        top:10%;
        background: url(https://media.tenor.com/DZSa-7966i4AAAAi/pengu-pudgy.gif);
        width: 200px;
        height: 300px;
        border-radius: 20px;
        background-position: cover;
        animation: blink 4s infinite;
      }
       .gif3{
        position: absolute;
        left: 41%;
        top:26%;
        background: url(https://media.tenor.com/rguBWVpczoIAAAAi/peach-and.gif);
        background-size: cover;
        width: 50px;
        height: 50px;
        transform: rotate(0deg);
        border-radius: 20px;
        // animation: blink 3s infinite;
      }
     .gif4{
        position: absolute;
        left: 0%;
        top:72%;
        background: url(https://media.tenor.com/IasLwN6fe-4AAAAi/bunny-cute.gif);
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 20px;
          animation: blink 2s infinite;
        
      }
  


    @keyframes blink {
  0%   { opacity: 1; }   // visible
  50%  { opacity: 0; }   // gayab
  100% { opacity: 1;display: none; }   // wapis
}
    .form-container{
        margin-top: 1rem;
        background: #323030;
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      
        .form-group{
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
           
            
            input{
                height: 25px;
                color: #000000;
                padding:  0.3rem;
                font-size: 0.7rem;   
                border: none;
                outline: none;
                border-radius: 5px;
                width: 250px;
            }
        }
 p{
            font-size: 0.9rem;
             a{
            
                color: antiquewhite;
                text-decoration: none;
                
           
        }
         }
    }
}
